doctype html
html(lang='en')
head
    title Cognitive Ethnography
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='css/makise.css', rel='stylesheet')
div.row
    ul.navbar
        li.navele
          a(href="/") Home
        li.navele
          a(href="/#projects") Projects
        li.navele 
          a(href="resume") Resume

body.background
    div.container
        div.row.center
            div.col-md-12
                h1 Cognitive Ethnography
                p(style='font-family:times') A collection of projects studying a single subject across a variety of observational methods playing Final Fantasy XIV 
            div.col-md-12
                 iframe(src='https://drive.google.com/embeddedfolderview?id=0B672NPn02XA3fnVMM3kyVTYzSE5MUko5c2FXWXFTOEkwTi1UejJTR3h6YnFxZTFVdUVXMFE#list', width='100%', height='300', frameborder='0')

        div.row.center
            div.col-md-4.proj
                h1.subtitle Observational Analysis
                p JT partitions the physical space of the arena by only focusing his spatial relation with the new space, the desk, and all the electronic gadgets he is using while playing. One notable aspect while observing JT’s play with the controller is that he seldom focuses on his hands operating the controller, but is able to weave button combinations in a coherently rapid manner...
            div.col-md-4.proj
                h1.subtitle Photographic Analysis
                p  JT’s cognitive activity lies within him having the correct understanding of the design structured for interacting with the game using his controller, and his quick dexterity stems from this match between gestures on the controller plus the feedback displayed on the screen. 
                p We see in B1 this clear one to one correspondence between the layout of each icon and the layout of the controller JT is holding in A1, which allows JT to solely focus on the screen because of this natural arrangement of segmented plus sign shapes in lieu of the controller compared to just a rows of icons. The inherent design of artifacts, both physical and virtual, facilitates JT’s cognitive activity by directing his attention during the game...
            div.col-md-4.proj
                h1.subtitle Cultural Models
                p Throughout my observations of JT playing, often the game calls for a particular type of organization to accomplish his goals alluding to a cultural model of role assignment explaining how players congregate to accomplish a goal. As individuals form together to accomplish a task, each lay out what contributions they can provide.
                p What immerses JT into conversation allowing him derive emotion from words? We can read JT attaching certain tone and context onto phrases in which results in his response as seen at 10:42, “Yes. This guild is full of a bunch of jokesters. Hhheheh.” JT perceives his guild’s speech in a comedic context as he imposes not only onto the speech, but also onto his guild mates. JT’s actions seem driven by this model of expression constantly shaping how he interprets the motivations of others, and in effect shapes his responses further expanding his beliefs...
        div.row.center
            div.col-md-4.proj  
                h1.subtitle Video Analysis
                p Making sense of what’s around us is often assumed as the ability to whittle down a computational complex environment by stripping away distractions until key features are left, yet as seen in JT’s case, we see the counterintuitive addition of bringing extra resources to what we attend. What this implication leaves us with is that instead of breaking down situations into its simplest units, we dynamically reorient the context we perceive by shifting sensory modalities and combining spatio-temporal information for synthesis. This inductive process then seeps back out to the world as a communicative relationship with others starting a cyclical analysis between speaker and respondents constantly influencing how they present the context at hand.
            div.col-md-4.proj
                h1.subtitle Comparative Analysis
                p We may view Wendy’s constant character reorientation as well as JT’s visual ability bar as semiotic resources that “speak” to them as a dialectical relationship where as one is reoriented, the other changes alongside to try to match both fields. Goodwin provides the explanation of the capacity to reflexively change as, situated process that encompasses both the sign-making capacity of the individual...and different kinds of semiotic phenomena...lodged within the material and social environment (Goodwin 2000: 1490)." JT and Wendy makes sense of the causal relationship between visual and physical action because of his experience by categorizing controller actions into virtual movements allowing him to attend to what is only on what's on the screen.

