doctype html
html(lang='en')
head
  title Allan Asis
  <meta name="viewport" content="width=device-width, initial-scale=1">
  link(href='css/bootstrap.min.css', rel='stylesheet')
  
  link(href='css/makise.css', rel='stylesheet')

body.background
  div.container
    div.row.border
      ul.navbar
        li.navele
          a(href="/") Home
        li.navele
          a(href="/#projects") Projects
        li.navele 
          a( target="_blank" href="/resume") Resume
    div.row
      div.col-lg-12.col-sm-6
     
      div.profile
        h1.subtitle Allan Asis
        p human-computer interaction · social computing · cognitive ethnography
        p.bio ｢ In this autumn evening, we are filled with fright. Our luxuries of glowing rock fill us with hope, yet we cannot find to stand without. That which guides us from chilling claws, we are bound; caged by soft ember warmth. We toil against what towers above us, only to rely on other spires. I dream at the edge of hell to find what I cannot remember. We three only exist when the world allows it, searching for another day of seasons lost. ｣
      

    div.row 
      a(name= 'projects' href='/ethnography') 
        div.col-lg-4.col-sm-6.card 
            h1.subtitle Cognitive Ethnography
          
            
      a(href='/musicapp') 
        div.col-lg-4.col-sm-6.card  
          h1.subtitle Music App Prototype
      
      a(href='/photoseries') 
        div.col-lg-4.col-sm-6.card
          h1.subtitle Photo Series 
      
      a(href='/studyspace')
        div.col-lg-4.col-sm-6.card        
          h1.subtitle Study Space      

      
      a(target="_blank" href='http://companionmail.wix.com/lifeisneet') 
        div.col-lg-4.col-sm-6.card
          h1.subtitle Life is NEET
      a(target="_blank" href='http://youternship.herokuapp.com/') 
        div.col-lg-4.col-sm-6.card
          h1.subtitle Youternship

      
      

        