doctype html
html(lang='en')
head
  title Allan Asis
  <meta name="viewport" content="width=device-width, initial-scale=1">
  link(href='css/bootstrap.min.css', rel='stylesheet')
  
  link(href='css/makise.css', rel='stylesheet')

body.background
  div.container
    div.row.border
      ul.navbar
        li.navele
          a(href="/") Home
        li.navele
          a(href="/#projects") Projects
        li.navele 
          a( target="_blank" href="/resume") Resume
    div.row
      div.col-lg-12.col-sm-6
      font(color='#414141', style='font-family:Helvetica')
      div.profile
        h1.subtitle Allan Asis
        p human-computer interaction · social computing · cognitive ethnography
        p I’ve always had trouble justifying on defining who I want to be.  I design because I want to make a world I can show others to develop my own.
      

    div.row 
      a(name= 'projects' href='/ethnography') 
        div.col-lg-4.col-sm-6.card 
            h1.subtitle Cognitive Ethnography
          
            
      a(href='/musicapp') 
        div.col-lg-4.col-sm-6.card  
          h1.subtitle Mobile App Prototype
      
      a(href='/photoseries') 
        div.col-lg-4.col-sm-6.card
          h1.subtitle Photo Series 
      
      a(href='/studyspace')
        div.col-lg-4.col-sm-6.card        
          h1.subtitle Study Space      

      
      a(target="_blank" href='http://companionmail.wix.com/lifeisneet') 
        div.col-lg-4.col-sm-6.card
          h1.subtitle Life is NEET
      a(target="_blank" href='http://youternship.herokuapp.com/') 
        div.col-lg-4.col-sm-6.card
          h1.subtitle Youternship

      
      

        