doctype html
html(lang='en')
head
    title Music App Prototype
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='css/makise.css', rel='stylesheet')
div.container
    div.row
        ul.navbar
            li.navele
                a(href="/") Home
            li.navele
                a(href="/#projects") Projects
            li.navele 
                a(href="resume") Resume

body.background
    div.container
        div.row
            div.col-md-12
                h1.subtitle Mobile Music App Prototype
                p.text A rapid 2 week design with a 3 person team at UC San Diego seeking to improve music playlist management through contextual interviews for user scenarios, comparative analysis, and high fidelity prototyping tools. 
        div.row
            div.col-md-12
                h1.subtitle User Scenarios
                p We sought to understand the contexts in which people who regularly listen to music through their cell phone. When and where do people do those activities? And how do they do them? 
                h2.subtitle Generate broad scenarios from interviews
        div.row
            div.col-md-6 
                ul.scenarios.left
                    li Can you think of other times when you recenlty listened to a playlist?  What were you doing? 
                    li Can you think of other times you made a playlist - a time when you made it in a different way?  For instance, do you ever make your own playlists out of playlists on a provider site?  When was the last time?  Where were you.
                    li Can you first tell me in general terms how you made it? 
            div.col-md-12     
                img.sample(src="../img/scenario.PNG")

        div.row
            div.col-md-12
                h1.subtitle Comparative Analysis
                p Detailed walkthroughs created from enacting gained user scenarios with different mobile music apps. Comparing the steps across different apps allow us to capture what works and pain points in processes quickly. 
            div.col-md-12     
                img.sample(src="../img/compare.PNG")
            div.col-md-12     
                img.sample(src="../img/compare2.PNG")

            div.col-md-12
                 iframe(src='https://drive.google.com/embeddedfolderview?id=0B672NPn02XA3bmFhcjlod1ZwV2M&usp=sharing#list', width='800', height='600', frameborder='0')



