doctype html
html(lang='en')
head
    title Photo Series
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='css/makise.css', rel='stylesheet')

body
    div.container
        div.row
            div.col-md-12
                font(color='#414141', style='font-family:Helvetica')
                h1 Photo Series 
                p A collection of photos inspired by pop-up storybooks.
            div.col-md-12
                 iframe(src='https://drive.google.com/embeddedfolderview?id=0B672NPn02XA3RG5xZDl3M1RCZWs&usp=sharing#grid', width='100%', height='1000px', frameborder='0')
