doctype html
html(lang='en')
head
    title Photo Series
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='css/makise.css', rel='stylesheet')
div.container
    div.row.border
      ul.navbar
        li.navele
          a(href="/") Home
        li.navele
          a(href="/#projects") Projects
        li.navele 
          a( target="_blank" href="/resume") Resume
body.background
    div.container
        div.row
            div.col-md-12.profile.text
                font(color='#414141', style='font-family:Helvetica')
                h1.subtitle Photo Series 
                p A collection of photos inspired by pop-up storybooks.
        div.row.top
            ul.leftbar
                li
                    a(href="../img/photos/1_crow1.jpg" target="_blank")
                        img.leftele(src='../img/photos/1_crow1.jpg')
                li
                    a(href="../img/photos/2_crow2.jpg" target="_blank")
                        img.leftele(src='../img/photos/2_crow2.jpg')
                li
                    a(href='../img/photos/3_wolf1.jpg' target="_blank")
                        img.leftele(src='../img/photos/3_wolf1.jpg')
                li
                    a(href='../img/photos/4_wolf2.png' target="_blank")
                        img.leftele(src='../img/photos/4_wolf2.png')
                li
                    a(href='../img/photos/5_bird1.jpg' target="_blank")
                        img.leftele(src='../img/photos/5_bird1.jpg')
                li
                    a(href='../img/photos/6_bird2.jpg' target="_blank")
                        img.leftele(src='../img/photos/6_bird2.jpg')

        div.row.fill
            div.col-md-12
                h1.subtitle.paper The Dimension of Thought
            div.col-md-12
                p.text We start with a base- a sketch influenced by fleeting interactions. Enamored so deeply by the shapes and folds outside of ourselves, we begin to cut and transform into the thoughts that bind us, yet unable to leave the sight of our own reality. From beginning still void of effort and achievement, we look onward from depth that mystifies us trying to understand what makes them so fundamentally different from us. We cast the same shadows, but the thought of what casts their form always lingers.
            div.col-md-12
                p.text Caricatures create contours as exaggerations of reality. Inspired by pop-up storybooks taking the two-dimensional plane and projecting it outwards creating new modes of interacting with the characters, I utilize this idea of popping through dimensions describing this yearning of self-expression influenced from those that appear to have more depth. I extend this thought of adding depth into ourselves as depictions of how perceptions blend the relationship between form and reality. To be aware of altering ourselves by what interests us leads to battling whether this change is an expression of our identity, or are we just self-fulfilling by carefully contriving to create the appearance we want. Does it matter?
            div.col-md-12
                p.text These faceless characters built from nothing but lines interact with characters that have form and shape transforming them into what the faceless characters think they ought to be after influenced by these origami figures. However, all they can do is alter their contours and never their own dimensionality. Oftentimes, they encounter altered characters similar to them leaving both at wits end not influenced to change, or may become so absorbed into becoming carbon copies of what they see. They begin to revert to their hooded silhouettes searching for what they want to become. However, in a rare moment, they may encounter another who mirrors them. A mirror leaving both characters to retain their form. A state where thoughts enabling dimension are not based on exaggerated contours, but from the purity of being malleable. You’re it.
        div.row.top
            ul.leftbar
                li
                    a(href='../img/photos/7_bunny1.jpg' target="_blank")
                        img.leftele(src='../img/photos/7_bunny1.jpg')
                li
                    a(href='../img/photos/8_bunny2.jpg' target="_blank")
                        img.leftele(src='../img/photos/8_bunny2.jpg')
                li
                    a(href='../img/photos/9_whales1.jpg' target="_blank")
                        img.leftele(src='../img/photos/9_whales1.jpg')
                li
                    a(href='../img/photos/10_whales2.jpg' target="_blank")
                        img.leftele(src='../img/photos/10_whales2.jpg')
                li
                    a(href='../img/photos/11_whales.jpg' target="_blank")
                        img.leftele(src='../img/photos/11_whales.jpg')
                li
                    a(href='../img/photos/12_pals1.jpg' target="_blank")
                        img.leftele(src='../img/photos/12_pals1.jpg')

