doctype html
html(lang='en')
head
 
  link(rel="stylesheet" href="/css/tsunemori.css")
  
  title Allan Asis Resume
  
body
    
    div.row
    div.container   
        div.info
            h1 Allan Asis
            p 8337 Cacus St Spring Valley, CA, 91977
            p 619-315-4447
            p companion.mail@gmail.com

        div.headers
            h2 Education
            hr
        
        //- float divs left & right to separate content
        //- watch out for box collision which will misallign elements  
        div.education
            div.left
                h2 University of California, San Diego
                p Major: Cognitive Science with specialization in Human-Computer Interaction
            div.right
                p La Jolla, CA   
                p Current
       
        div.education
            div.left
                h2 Grossmont College
                p Associate in Math and Science
            
            div.right
                p El Cajon, CA
                p Graduated May, 2014
        //-Experience block
        div.headers
            h2.second Experience
            hr 

         div.education
            div.left
                h2 YouEye
                p.jobtitle Crowd Coder
            div.right
                p July 2015 - Current
            div
                ul.skills
                    li User behavior analysis of product use, voice, and critique to gauge first pass indicators
                    li Summated user data into critical research objectives regarding product redesign
            
            div.left
                h2 Cognitive Design Studio
                p.jobtitle Project Manager
            div.right
                p March 2015 – June 2015
            div
                ul.skills
                    li Set weekly team expectations and goals for project team ensuring efficient progress
                    li Consolidated contextual models and interpreted data through coding observational behavior using ethnographic practices
                    li Drove competitive team analysis creating prototypes through parallel and iterative design
            div.left
                h2 Cognitive Ethnography 
                p.jobtitle Individual
            div.right
                p January 2015 – March 2015
            div
                ul.skills
                    li Applied comparative methods to across a variety of observational medium constructing cultural models describing underlying behaviors in role assignment and self-expression within an online game world 
                    li Indexed and transcribed captured behaviors of single subject during game interactions 
                    li Observed and interviewed a single subject to learn the intentionality of behavior when interacting within an online game world 


            div.left
                h2 Human-Computer Interaction Design
                p.jobtitle Team Member
            div.right
                p January 2015 – March 2015
            div
                ul.skills
                    li Conducted ethnographic fieldwork generating new design ideas through needfinding practices
                    li Made paper prototypes and low-fidelity mock-ups that are interactive — and used these designs to get feedback from teammates, clients, and users
                    li Developed mobile web application mockup with the objective to aid users seeking to develop computer science skills by connecting them with personal mentors 
            //-Additional Info block
            div.headers
                h2 Additional Information
                hr#footer
                ul.skills
                    li Currently into anthology writing, bookbinding, sketching
                    li Studying interface design, usability and information architecture, cognitive stylistics
            





   