doctype html
html(lang='en')
head
    title UAA Site Redesign
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='css/makise.css', rel='stylesheet')

body
    div.container
        div.row
            div.col-md-12
                font(color='#414141', style='font-family:Helvetica')
                h1 University of Alaska Anchorage Site Redesign
                p An ongoing team project to redesign and evaluate the 
                    a(href="https://www.uaa.alaska.edu/") University of Alaska Anchorage website

            div.col-md-12
                 iframe(src='https://drive.google.com/embeddedfolderview?id=0B672NPn02XA3bmFhcjlod1ZwV2M&usp=sharing#list', width='800', height='600', frameborder='0')


